* {
  @extend %global;
}

/*=======================================*\
HEADER & MENU
\*=======================================*/

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $base-size $side-margin;
  @include shadowAxisY(2px);
  
  .header__logo {
    width: $base-size * 12;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
  }

  .hamburger:focus {
    outline: none;
  }

  .header__menu-container {
    .header__menu {
      display: flex;
      align-items: center;

      .header__item {
        margin-left: $base-size * 4;
        list-style: none;

        .header__link {
          text-decoration: none;
          font-weight: $semi-bold;
          font-size: $base-size * 3 - 4;
          color: $purple-light;
        }

        .header__link:hover {
          font-weight: $semi-bold;
          color: $purple-dark;
        }

        .header__link--active {
          font-weight: $semi-bold;
          color: $purple-one;
        }
      }
    }
  }
}

/*=======================================*\
FOOTER
\*=======================================*/

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $base-size * 4 $side-margin;
  margin-top: $base-size * 5;
  @include shadowAxisY(-2px);

  .footer__legal {
    display: flex;
    .footer__item {
      display: block;
      margin-left: $base-size * 2;
      text-decoration: none;
      font-size: $base-size * 2 - 2;
      color: $purple-one;
    }
  }

  .footer__info {
    font-size: $base-size * 2 - 2;
    color: $purple-one;
  }

  .footer__social {
    display: flex;
    align-items: center;

    .footer__link {
      margin-left: $base-size * 4;
      .footer__icon {
        font-size: $base-size * 4;
        color: $purple-one;
      }
    }
  }
}

/*=======================================*\
PORTADA
\*=======================================*/

.main {
  .main__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $base-size * 75;
    background-image: url("../images/saturn-hero-p.png");
    background-position: center;
    background-size: cover;

    .main__hero-tittle {
      font-size: $base-size * 7;
      font-weight: $bold;
      text-align: center;
      margin-bottom: $base-size * 8;
      color: $white;
    }
    .main__hero-description {
      color: $white;
      width: $base-size * 80;
      font-size: $base-size * 2 + 4;
      text-align: center;
      margin-bottom: $base-size * 4;
    }

    .main__hero-btn-link{
      text-decoration: none;

      .main__hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $base-size * 2 - 4 $base-size * 3;
        border: $base-size - 4 solid $white;
        border-radius: $base-size * 3;
        transition: background-color 0.8s ease-in-out 0.2s;

        .main__hero-btn-txt {
          font-weight: $semi-bold;
          color: $white;
          transition: color 0.8s ease-in-out 0.2s;
        }
      }

      .main__hero-btn:hover {
        background-color: $white;
      }
      .main__hero-btn:hover .main__hero-btn-txt {
        color: $purple-one;
        font-weight: $semi-bold;
      }
    }

  }

  .main__home-cards {
    padding: 0 $side-margin;
    margin-top: $base-size * 5;

    .main__cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .main__card-link {
        text-decoration: none;

        .main__card {
          display: flex;
          justify-content: center;
          padding-top: $base-size * 3;
          margin-bottom: $base-size * 4;
          width: 26.0424vw;
          height: 26.0424vw;
          border-radius: $base-size * 4;
          transition: 
          width 0.2s ease-in-out 0.1s, 
          height 0.2s ease-in-out 0.1s,
          box-shadow 0.2s ease-in-out 0.1s;

          @include shadowAxisY(4px);

          .main__card-title {
            color: $white;
            font-weight: $semi-bold;
            font-size: $base-size * 3; 
            transition: font-size 0.2s ease-in-out 0.1s;
          }
        }

        .main__card-one {
          @include pictureCard('https://wallpaperboat.com/wp-content/uploads/2020/09/01/54013/saturn-14.jpg');
        }
        .main__card-two {
          @include pictureCard('../images/sat-food.png');
        }
        .main__card-three {
          @include pictureCard('https://www.isoscelesfinance.co.uk/wp-content/uploads/2019/11/shutterstock_749033299.jpg');
        }

        .main__card:hover {
          width: 26.5vw;
          height: 26.5vw;
          box-shadow: 0 8px 8px $shadow;
        }
        .main__card:hover .main__card-title {
          font-size: $base-size * 3 + 4;
        }
      }
    }
  }
}

/*=======================================*\
MEDIA QUERIES
\*=======================================*/

@media screen and (max-width: 1024px) {
  /*=======================================*\
   MENU
  \*=======================================*/
  .header {
    padding: 24px;
    align-items: center;

    .header__logo {
      width: 64px;
    }

    .hamburger {
      display: block;
    }

    .header__menu-container {
      display: none;
    }

    .js-header__menu-container--show {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      height: 100vh;

      .js-header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $base-size * 3;

        .header__item {
          margin-bottom: $base-size * 3;
          margin-left: 0;

          .header__link {
            font-size: 5vw;
          }
        }
      }
    }
  }

  /*=======================================*\
   FOOTER
  \*=======================================*/

  .footer {
    flex-direction: column;

    .footer__legal {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer__item {
        margin: 0 0 $base-size * 2 0;
      }
    }

    .footer__info {
      text-align: center;
      margin-bottom: $base-size * 2;
    }

    .footer__social {
      .footer__link:nth-child(1) {
        margin-left: 0;
      }
    }
  }

/*=======================================*\
PORTADA
\*=======================================*/

  .main{
    .main__hero {
      padding: $base-size * 4 $base-size * 3;
      height: 100%;

      .main__hero-tittle {
        font-size: 9vw;
        margin-bottom: 5vw;
      }

      .main__hero-description {
        font-size: 4vw;
      }

      .main__hero-btn-link {
        margin-bottom: $base-size * 2;
      }
    }

    .main__home-cards {
      padding: 0 $base-size * 3;
      .main__cards-container {
        flex-direction: column;
        align-items: center;
        .main__card-link {
          .main__card {
            width: 70vw;
            height: 70vw;

            .main__card-title {
              font-size: 6vw;
            }
          }
        }
      }
    }
  }

}